= breadcrumbs({ 'Subscriber Reports' => subscriber_reports_path },
              { 'Identity Provider Reports' => subscriber_reports_path },
                'Destination Services Report')

h1 Identity Provider Destination Services Report

markdown:
  Shows the requested services of an IdP within a time range, in number of Requests

= render(partial: 'form')
