= breadcrumbs({ 'Subscriber Reports' => subscriber_reports_path },
                'Sessions Report')

h1 Identity Provider Sessions Report

markdown:
  Graphs the hourly number of sessions established for an Identity Provider via AAF's central
  Discovery Service

= render(partial: 'form')
