= breadcrumbs({ 'Subscriber Reports' => subscriber_reports_path },
                'Sessions Report')

h1 Service Provider Sessions Report

markdown:
  Graphs the hourly number of sessions initiated with a Service Provider via AAF's central
  Discovery Service

= render(partial: 'form')
