= breadcrumbs({ 'Subscriber Reports' => subscriber_reports_path },
              { 'Service Provider Reports' => subscriber_reports_path },
                'Sessions Report')

h1 Service Provider Sessions Report

markdown:
  Shows the sessions of an Service Provider within a time range, in number of Sessions

= render(partial: 'form')
