= breadcrumbs({ 'Subscriber Reports' => subscriber_reports_path },
                'Source Identity Provider Report')

h1 Service Provider Destination Services Report

markdown:
 Graphs the number of sessions for a Service which were
 authenticated via each Identity Provider

= render(partial: 'form')

