/.git
/.github
/.idea
/.vscode
/Dockerfile
/compose.yml
/coverage
/docs
/log
/public/assets
/tmp
./coverage
.env*
node_modules
#EOF_DISTRIBUTION
/.git
/.github
/.idea
/.vscode
/Dockerfile
/compose.yml
/copilot
/coverage
/docs
/dump.rdb
/log
/public/assets
/tmp
./coverage
.env*
node_modules