# https://github.com/ausaccessfed/workflows/blob/main/.github/workflows/distributions/.dockerignore
/.git
/.github
/.idea
/.vscode
/Dockerfile
/compose.yml
/coverage
/docs
/log
/public/assets
/tmp
./coverage
.env*
node_modules