{
  "extends": ["airbnb-base", "plugin:prettier/recommended", "plugin:yml/standard"],
  "plugins": ["prettier"],
  "env": {
    "es2020": true,
    "browser": true,
    "amd": true,
    "commonjs": true,
    "jquery": true
  },
  "globals": {
    "d3": true,
    "reporting": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    "class-methods-use-this": "warn",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-tabs": "error",
    "no-plusplus": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }],
    "import/extensions": "off",
    "import/first": "off",
    "import/no-unresolved": "off",
    "prettier/prettier": "error",
    "yml/plain-scalar": "off",
    "yml/quotes": [
      "error",
      {
        "prefer": "single"
      }
    ],
    "yml/sort-keys": "error",
    "yml/no-empty-mapping-value": "off",
    "yml/no-multiple-empty-lines": [
      "error",
      {
        "max": 0
      }
    ]
  },
  "settings": {},
  "ignorePatterns": ["**/builds/*.js", "public/assets/*.js"],
  "overrides": [
    {
      "files": ["*.yaml", "*.yml"],
      "parser": "yaml-eslint-parser"
    }
  ]
}
