= breadcrumbs({ 'Admin Reports' => admin_reports_path },
                'Federated Sessions Report')

h1 Federated Sessions Report

p Shows the sessions of the federation over the given range, in number of Sessions

= render(partial: 'form')
