= breadcrumbs({ 'Admin Reports' => admin_reports_path },
                'Identity Provider Utilization Report')

h1 Identity Provider Utilization Report

p Shows the total number of sessions for each identity provider during the given date range

= render(partial: 'form')
