= breadcrumbs({ 'Admin Reports' => admin_reports_path },
                'Service Provider Utilization Report')

h1 Service Provider Utilization Report

p Shows the total number of sessions for each service provider during the given date range

= render(partial: 'form')
