= breadcrumbs({ 'Dashboard' => dashboard_path },
              { 'Compliance Reports' => dashboard_path },
              'Single Attribute Identity Providers Report')

h1 Single Attribute IdPs Report

markdown:
  Shows Identity Providers which have indicated support for a single attribute.

= render(partial: 'form')
