= breadcrumbs({ 'Dashboard' => dashboard_path },
              { 'Compliance Reports' => dashboard_path },
                'Single Attribute Service Providers Report')

h1 Single Attribute SPs Report

markdown:
  Shows Service Providers which have indicated support for a single attribute.

= render(partial: 'form', locals: { object_type: 'Attribute' })
