---
mail:
  from: noreply@example.com
  port: 1025
  address: localhost
environment_string: Development
admins:
  "shared_token_value":
    - "urn:mace:aaf.edu.au:ide:internal:aaf-admin"
  "shared_token_value2":
    - "urn:mace:aaf.edu.au:ide:internal:aaf-admin"
federationregistry:
  host: manager.test.aaf.edu.au
  secret: 'This is the shared secret used for authenticating to the FR export API'
rapidconnect:
  host: rapid.test.aaf.edu.au
  secret: 'This is the shared secret used for authenticating to the Rapid export API'
sqs:
  fake: true
  region: localhost
  endpoint: http://localhost:9324
  encryption_key: config/event_encryption_key.pem
  queues:
    discovery: http://localhost:9324/queue/discovery-service-development
default_session_source: 'DS'
url_options:
  base_url: 'http://localhost:8080'
time_zone: Australia/Brisbane
