= breadcrumbs({ 'Dashboard' => dashboard_path },
              { 'Public Reports' => dashboard_path },
              'Federation Growth Report')

= render(partial: 'shared/report_output', locals: { data: @data })
